<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="LifePal"
        android:supportsRtl="true"
        tools:targetApi="31">



        <!-- OpeningActivity -->
        <activity
            android:name=".OpeningActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LifePal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- CreateEventActivity -->
        <activity
            android:name=".CreateEventActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LifePal"/>

        <!-- EditEventActivity -->
        <activity
            android:name=".EditEventActivity"
            android:exported="true"
            android:theme="@style/Theme.LifePal"/>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/Theme.LifePal"
            android:screenOrientation="portrait">
        </activity>

        <!-- StopwatchActivity -->
        <activity
            android:name=".StopwatchActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LifePal">
        </activity>

        <!-- TimerActivity -->
        <activity
            android:name=".TimerActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.LifePal">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>
</manifest>
